@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Lilita One";
  src: url("./assets/fonts/LilitaOne-Regular.ttf") format("truetype");
}

html,
body {
  height: 100%;
  font-family: "Lilita One", sans-serif !important;
  background-color: rgb(92, 0, 92);
  color: white;
}
.font {
  font-family: "Lilita One", sans-serif !important;
}
.container {
  min-height: 100%;
  min-width: 100%;
  border: 1px solid blue;
}

.select-box{
  padding: 10px;
  font-size: 30px;
  border-radius: 10px;
  border: 1px solid rgb(29, 29, 29);
  background-color: rgb(50, 50, 50);
}
